<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="AaA">Helloooo</h1>
    <form action="/add" method="post">
        <label for="">Name</label>
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="text" placeholder="Text">
        <input type="submit" value="Speichern"></input>
    </form>
    <% if (!Error.errors.isEmpty()){ %>
        <%console.log(Error.errors)%>
            <%- include("./partials/errorMsg.ejs", {Error}) %>
                <%}%>
                    <section class="wrapperSection">
                        <% loadedData.map((data)=>{%>
                            <article class="OutputElement">
                                <div>
                                    <h3>
                                        <%=data.firstName%>
                                    </h3>
                                    <h3>
                                        <%=data.lastName%>
                                    </h3>
                                    <h3>
                                        <%=data.eMail %><span>schreibt:</span>
                                    </h3>
                                </div>
                                <p>
                                    <%=data.text%>
                                </p>
                            </article>
                            <%})%>
                    </section>
</body>

</html>